.container {
    position: fixed;
    bottom: 0;
    left: 0;

    height: 100px;
    width: 100%;
    background-color: darkred;
}

.progressBar {
    display: flex;
    height: 30px;
    width: 100%;
    background-color: red;

    align-items: center;
    justify-content: space-around;
}

.controls {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

    i {
        padding: 0 1rem;
        font-size: 1.5rem;
    }

    i:nth-of-type(3) {
        font-size: 2.5rem;
    }
}
