.container {
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(255, 255, 255);
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.image {
}

@media all and (min-width: 1200px) {
    .container {
        flex-direction: row;
    }
}
