.container {
    display: flex;
    flex-direction: column;

    flex: 1;
    padding: 1rem 0;

    font-weight: 700;

    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    color: var(--color-white-always);
}

.container:nth-of-type(2n + 1) {
    background-color: rgba(122, 192, 200, 0.5);
}

.infoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 50px;
}

.label,
.info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.label {
    padding: 1rem;
    border-bottom: solid 1px;
    text-transform: uppercase;
    font-size: 1.25rem;
}

.info {
    width: 100%;
    padding: 0.5rem 0;
    text-align: center;
}

.info:not(:first-of-type) {
    border-top: solid 1px currentColor;
}

.description {
    padding: 0.5rem;
}

.time {
    width: 80px;
    text-align: right;
    padding-right: 0.5rem;
}

@media screen and (min-width: 1200px) {
    .container {
        flex-direction: row;
    }

    .label {
        min-width: 100px;
        padding: 1rem;
        padding-right: 1rem;
        border: none;
        border-right: solid 1px;
        margin-right: 1rem;
        text-transform: capitalize;
    }

    .description {
        padding: 0 1rem;

        flex: 1;
    }

    .infoContainer {
        flex: 1;
        margin-right: 1rem;
        justify-content: center;
    }

    .time {
        text-align: left;
        align-self: flex-start;
    }
}
