.drawer {
    h2 {
        font-size: 2rem;
        padding: 1rem;
    }

    a {
        width: 100%;
        border-radius: 0;
        margin-top: 6px;
        border: none;
        border-top: solid 2px var(--color-primary);
        border-bottom: solid 2px var(--color-primary);
        font-size: 1.5rem;
    }

    a:last-of-type {
        border-bottom: solid 2px var(--color-primary);
    }

    a:hover {
        border: none;
        border-top: solid 2px var(--color-secondary);
        border-bottom: solid 2px var(--color-secondary);
    }
}

.drawerSection {
    padding-bottom: 6px;
    border-top: solid 2px var(--color-primary);
    border-bottom: solid 2px var(--color-primary);
    margin-bottom: 1rem;
}

.socialSection {
    i {
        padding-left: 4rem;
        justify-content: flex-start;
        font-size: 1.5rem;
    }
}

@media all and (max-width: 330px) {
    .drawer {
        h2 {
            text-align: left;
        }
    }

    .drawerSection {
        i {
            justify-content: flex-start;
            padding-left: 0;
        }
    }
}
