.container {
    text-align: center;

    padding: 1rem;
    padding-top: 0;
    max-width: 600px;
}

.imgContainer {
    position: relative;
}

.nextShow {
}

.header {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    font-size: 2rem;
    padding: 1rem;

    color: var(--color-white-always);
    background-color: rgba($color: #000000, $alpha: 0.7);
    border-radius: 1rem;
}

.image {
    border: solid 2px var(--color-primary);
}

@media screen and (max-width: 1200px) {
    .header {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 400px) {
    .header {
        font-size: 0.8rem;
    }
}
