.container {
    width: 100%;
}

.innerContainer {
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    padding: 0;
}

@media screen and (min-width: 1200px) {
    .innerContainer {
        margin: 0;
    }
}
