.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;

    font-size: 1.25rem;
    font-weight: 400;
}

.padding::before {
    padding-right: 1rem;
}
