.cardContainer {
    width: 100%;
    padding: 1rem;
    background-color: var(--color-primary);
    border-radius: 1rem;
}

.campaignCard {
    width: 25%;
    max-width: 500px;
    border: 5px solid var(--color-primary);
    display: inline-block;
}

// nav:first-of-type {
//     height: var(--navHeight);
//     width: 100%;
//     background-color: var(--color-background);
//     color: var(--color-primary);
//     position: fixed;
//     z-index: var(--maxZ);

//     border-bottom: solid 1px var(--color-primary);
// }

#aboutIO {
    h2 {
        padding-top: 0;
    }

    .section-content > p:first-of-type {
        font-weight: 700;
        max-width: 700px;
        text-align: center;
        margin: 0 auto;
    }

    .stat-group {
        display: block;

        width: 100%;
        // border: solid 1px black;
        padding-top: 2rem;
        text-align: center;

        flex-direction: column;
        align-content: center;
        justify-content: center;
    }
}

#originOfIO {
    p {
        padding: 1rem 0;
        font-weight: 500;
    }

    h3 {
        text-transform: uppercase;
        font-style: italic;
        padding-bottom: 0.5rem;

        a {
            font-weight: 700;
            text-decoration: underline;
        }
    }
}

#howToSupport {
    .support-group {
        margin-top: 1rem;
        width: 100%;
        text-align: center;
    }
}

#majorEvents {
    h2 {
        background-color: var(--color-primary);
        color: var(--color-white-always);
        padding: 2rem;
    }

    h3 {
        padding-bottom: 0.5rem;
    }

    div > div {
        padding: 1rem;
        border: solid 2px var(--color-primary);
        border-top: none;
    }
}
