#aboutIO {
    .section-content > p:first-of-type {
        font-weight: 700;
    }

    .stat-group {
        display: block;

        width: 100%;
        // border: solid 1px black;
        padding: 3rem 0;
        text-align: center;
    }
}

#historyOfIO {
}

#howToSupport {
    .support-group {
        margin-top: 1rem;
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 1000px) {
    #aboutIO {
        .stat-group {
            flex-direction: column;
            align-content: center;
            justify-content: center;
        }
    }
}
