:root {
    // decent void
    // hsl(244deg 46% 46%)

    /* Colors */
    --color-white: 0, 0%;
    --color-black: 0, 0%;
    --color-light: 174, 37%;

    /* Palette */
    --color-white-always: hsl(var(--color-white), 100%);
    --color-black-always: hsl(var(--color-black), 0%);
    --color-background: hsl(var(--color-white), 100%);
    --color-primary: hsl(var(--color-light), 45%);
    --color-primary-dark: hsl(var(--color-light), 15%);
    --color-primary-light: hsl(var(--color-light), 75%);

    --color-text: var(--color-primary-dark);

    --navHeight: 50px;

    --buttonColor: var(--color-primary);

    --youtube: #c4302b;

    --maxZ: 100;

    /* font-sizes */
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;
}
