:root {
    // decent void
    // hsl(244deg 46% 46%)

    /* Colors */
    --color-white: 0, 0%;
    --color-black: 0, 0%;
    --color-light: 174, 37%;

    /* Palette */
    --color-white-always: hsl(var(--color-white), 100%);
    --color-black-always: hsl(var(--color-black), 0%);
    --color-background: hsl(var(--color-white), 100%);
    --color-primary: hsl(var(--color-light), 45%);
    --color-primary-dark: hsl(var(--color-light), 15%);
    --color-primary-light: hsl(var(--color-light), 75%);
    --color-secondary: hsl(var(--color-white), 100%);

    --color-text: var(--color-primary-dark);

    --navHeight: 50px;

    --buttonColor: var(--color-primary);

    --youtube: #c4302b;

    --maxZ: 100;
}
