.drawer {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 350px;
    width: calc(100% - 2rem);
    padding: 0;

    transition: 750ms;
    z-index: calc(var(--maxZ) - 2);

    background-color: var(--color-background);

    font-size: 2rem;

    button {
        position: absolute;
        bottom: 0.5rem;
        height: 4rem;

        width: 2rem;
        border: none;
        background-color: var(--color-primary);

        color: var(--color-background);

        i {
            position: absolute;
            transition: 0.4s transform;
            top: 50%;
            transform: translate(0%, -50%) rotate(0);
        }
        i::after {
            transform-origin: center;
        }
    }

    h3 {
        padding: 1.5rem 0;

        border-bottom: solid 2px var(--color-primary);

        margin-bottom: 2px;
        text-align: center;
    }

    .socialBtn {
        font-size: 1rem;
    }

    .socialBtn {
        display: block;
        width: 100%;
        border: none;
        border-top: 2px solid var(--color-primary);
        border-bottom: 2px solid var(--color-primary);
        border-radius: 0;
        background-color: var(--color-background);
        color: var(--color-primary);
        margin: 2px 0;
    }

    .socialBtn:hover {
        width: 100%;
        background-color: var(--buttonColor);
        color: var(--color-background);
    }

    .socialBtn i {
        white-space: normal;
    }

    .socialLinks {
        border-bottom: solid 2px var(--color-primary);
    }
}

.drawerContent {
    overflow: auto;
    height: 100%;
    width: 100%;
}

.drawer-left {
    border-right: solid 2px var(--color-primary);
    transform: translateX(-100%);

    button {
        right: 0rem;

        border-left: none;
        transform: translateX(calc(100% + 2px));
        border-bottom-right-radius: 1.5rem;
        border-top-right-radius: 1.5rem;

        i {
            left: 0;
        }
    }
}

.drawer-right {
    border-left: solid 2px var(--color-primary);
    transform: translateX(100%);

    button {
        left: 0;

        border-right: none;
        transform: translateX(calc(-100% - 2px));
        border-bottom-left-radius: 1.5rem;
        border-top-left-radius: 1.5rem;
    }

    i {
        right: 0;
    }
}

.drawer-uppercase {
    text-transform: uppercase;
}

.drawer-icons-none {
    .drawerContent i::before {
        display: none;
    }
}

.button-flip {
    i {
        transform: translate(0%, -50%) rotate(180deg) !important;
    }
}

.drawer-centered {
    i {
        justify-content: center !important;
    }

    i::after {
        padding: 0 !important;
        text-align: center;
    }
}
