.hero {
    position: relative;
    height: 100vh;

    text-align: center;

    background-size: cover;

    h1 {
        position: absolute;
        top: 20%;
        left: 50%;
        width: calc(100% - 1rem * 2);
        padding: 0;
        text-align: center;

        text-transform: uppercase;
        transform: translateX(-50%);

        text-shadow: 2px 4px 3px var(--color-black-always);

        font-weight: 700;

        z-index: calc(var(--maxZ) - 3);
    }

    img {
        position: absolute;
        top: 20%;
        left: 50%;
        height: 80%;
        width: auto;
        transform: translateX(-50%);
        z-index: calc(var(--maxZ) - 4);
    }

    a {
        text-transform: uppercase;
    }

    i::after {
        padding: 0;
        padding-left: 1rem;
    }
}

.hero-links {
    display: flex;
    position: absolute;
    top: 75%;
    left: 50%;
    display: flex;
    align-items: center;
    transform: translate(-50%, -50%);
    z-index: calc(var(--maxZ) - 3);

    flex-direction: column;

    a {
        margin: 0.3rem;
        flex: 1;
        width: 200px;
    }
}

@media all and (min-width: 600px) {
    .hero-links {
        flex-direction: row;
    }
}
