.iconPanel:last-of-type .iconPanel-container {
    border: none;
}

.iconPanel-container {
    padding: 2rem 1rem;
    display: inline-flex;

    width: 100%;
    height: 100%;
    border-bottom: solid 1px var(--color-primary-dark);
}

.iconPanel-icon {
    color: var(--color-primary, black);
    height: 100%;
    display: inline;
    margin-right: 2rem;
    align-self: flex-start;
}

.iconPanel-description {
    display: inline-block;
    text-align: left;

    h3 {
        padding-bottom: 1rem;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 0.8;
        text-align: left;
    }
}

@media (min-width: 1000px) {
    .iconPanel-container {
        max-height: 300px;
        max-width: 300px;
        padding: 1rem;
        margin: 2rem;

        border: none;
    }
}
