.sidebar {
    position: fixed;
    top: 0;

    display: flex;
    height: 100%;
    width: fit-content;
    background-color: none;

    transition: 850ms;
    z-index: calc(var(--maxZ) - 2);
}

.sidebar-vertical {
    justify-content: center;
    flex-direction: column;
}

.sidebar-noHeader h3:first-of-type {
    display: none;
}
