.socialBtn {
    display: inline-block;
    padding: 1rem;
    border: 2px solid var(--buttonColor);

    border-radius: 0.9rem;
    background-color: var(--color-background);
    color: var(--buttonColor);

    transition: all 0.5s ease-in-out;

    i {
        display: flex;
        align-items: center;
        white-space: nowrap;
    }

    i::after {
        content: var(--socialName);

        align-self: center;
        padding-right: 1rem;

        padding-left: 1.5rem;

        font-weight: 400;
        text-transform: uppercase;
        color: currentColor;
    }
}

.onHero .socialBtn {
    border: 1px solid transparent;
    background-color: transparent;
    color: var(--color-background);
}

.socialBtn:hover {
    background-color: var(--buttonColor);
    border-color: var(--color-background);
    color: var(--color-background);
}

.socialBtn-iconOnly {
    border-color: transparent;
    background-color: transparent;
}

.socialBtn-inverse {
    border-color: var(--buttonColor);
    background-color: var(--buttonColor);
    color: var(--color-background);
}

.socialBtn-inverse:hover {
    border-color: var(--buttonColor);
    background-color: var(--color-background);
    color: var(--buttonColor);
}

.socialBtn-inverse-hover:hover {
    border-color: var(--buttonColor);
    background-color: var(--color-background);
    color: var(--buttonColor);
}
