.socialLinks {
    display: flex;

    flex-direction: column;

    justify-self: center;

    width: 100%;

    a {
        width: 80px;

        overflow: hidden;

        border-radius: 0;
    }

    a:hover {
        width: var(--component-width, 80px);
    }

    .socialBtn {
        i {
            justify-content: flex-start;
        }
    }
}

.right {
    .socialLinks {
        a {
            border-right: none;
            place-self: self-end;
            padding-right: 1.5rem;
        }

        i {
            flex-direction: row-reverse;
        }

        i::after {
            padding-right: 1.5rem;

            padding-left: 1rem;
        }
    }
}

.left {
    .socialLinks {
        a {
            border-left: none;
            padding-left: 1.5rem;
        }
    }
}
