.color-white {
    color: var(--color-white-always);
}

.color-black {
    color: var(--color-black-always);
}

.color-primary-dark {
    color: var(--color-primary-dark);
}

.shadow-box {
    -moz-box-shadow: inset 0 0 10px var(--color-primary-dark, black);
    -webkit-box-shadow: inset 0 0 10px var(--color-primary-dark, black);
    box-shadow: inset 0 0 10px var(--color-primary-dark, black);
}

.shadow-text {
    text-shadow: 2px 2px 2px var(--color-primary-dark, black);
}

.shadow-text-outline {
    -webkit-text-stroke: 2px var(--color-primary-dark, black);
    text-stroke: 2px var(--color-primary-dark, black);
}

.fs-900 {
    font-size: clamp(5rem, 8vw + 1rem, 9.375rem);
}
.fs-800 {
    font-size: var(--fs-800);
}
.fs-700 {
    font-size: var(--fs-700);
}
.fs-600 {
    font-size: var(--fs-600);
}
.fs-500 {
    font-size: var(--fs-500);
}
.fs-400 {
    font-size: var(--fs-400);
}
.fs-300 {
    font-size: var(--fs-300);
}
.fs-200 {
    font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
    line-height: 1.1;
}

.margin-small {
    margin: 1px 0;
}

.margin-medium {
    margin: 0.5rem 0;
}

.header-default {
    padding: 2rem 0;
    text-align: center;
    font-weight: 700;
}
