.socialLinks {
    display: flex;

    flex-direction: column;

    justify-self: center;

    width: 100%;

    a {
        width: 80px;

        overflow: hidden;

        border: solid 1px transparent;

        margin-bottom: 2px;
        background-color: var(--buttonColor);
        color: var(--color100);
    }

    a:hover {
        width: 260px;

        background-color: var(--color100);
        color: var(--buttonColor);
        border-color: var(--buttonColor);
    }
}

.onHero .socialBtn {
    border: 1px solid transparent;
    background-color: transparent;
    color: var(--color100);
}
