.section {
    color: var(--color-primary);
    h2 {
        background-color: var(--color-primary);
        color: var(--color-white-always);
        padding: 2rem;
    }
}

.entryContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--color-white-always);
    padding: 1rem;
    border: solid 2px var(--color-primary);
    border-top: none;
}

.entryHeader {
    padding: 0 1rem;
    font-weight: 700;
}

.entryTitle {
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 700;
    // background-color: var(--color-primary);
}

@media screen and (min-width: 600px) {
    .entryHeader {
        width: 150px;
    }

    .entryContainer {
        flex-direction: row;
    }
}
