.section {
    p {
        padding: 1rem 0;

        color: var(--color-primary-dark);
    }

    h3 {
        text-transform: uppercase;
        font-style: italic;
        padding-bottom: 0.5rem;

        a {
            font-weight: 700;
            text-decoration: underline;
        }
    }
}
