/*
======================================
  TABLE OF CONTENTS
======================================
  1. Global Styles 
  2. Typography
  3. Layout
  4. Components
      4.1 Hero
      4.2 NavBars
  5. State Classes    
  6. Media Queries
      6.1 Tablet/Desktop
  0. Quick-Hacks/Temporary
*/

/* 
======================================
   1. Global Styles
====================================== 
*/
:root {
    --color100: #ffffff;
    --color400: #469890;
    --color700: #0f1f1d;
    --colorBG: #fff;
    --buttonColor: #000;
    --navHeight: 50px;

    --youtube: #c4302b;

    --maxZ: 100;
}

html {
    color: var(--color700);
    background-color: var(--color100);
}

a {
    text-decoration: none;
    color: currentColor;
}

button {
    outline: none;
    box-shadow: none;
}

a:hover,
button:hover {
    cursor: pointer;
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/*
====================================== 
    2. Typography 
======================================
*/
h2 {
    color: var(--color400);
}

p {
    overflow-wrap: break-word;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.left .socialBtn {
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
}

.right .socialBtn {
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}

/*
======================================
    3.Layout 
======================================
*/
main {
    width: 100%;
    color: var(--color700);
    overflow-x: hidden;
}

.container {
    min-height: 100vh;
    max-width: 1200px;
    width: auto;
    padding: 0 1em;
    margin: 0 auto;
}

section {
    padding-top: var(--navHeight);
}

/* 
======================================
    4. Components 
======================================
*/

/* 
===== 4.1 Hero =====
*/
.hero {
    position: relative;
    height: 100vh;

    text-align: center;
    background-image: url("images/galaxy_2.jpg");
    background-size: cover;
}

.hero h1 {
    position: absolute;
    top: 10%;
    left: 50%;
    width: calc(100% - 1rem * 2);
    padding: 0;
    text-align: center;

    font-size: 2.5rem;
    text-transform: uppercase;
    transform: translateX(-50%);

    color: var(--color100);
    text-shadow: 2px 4px 3px var(--color700);
}

.hero img {
    position: absolute;
    top: 20%;
    left: 50%;
    height: 80%;
    width: auto;
    transform: translateX(-50%);
    z-index: 9;
}

.hero a {
    position: absolute;
    top: 75%;
    left: 50%;
    display: flex;
    align-items: center;
    border-radius: 0.9rem;

    text-transform: uppercase;
    transform: translate(-50%, -50%);

    z-index: 9;
}

.hero .socialBtn i {
    padding: 0.5rem;
}

.hero .socialBtn i::after {
    font-size: 1.2rem;
    padding: 0 0.5rem;
    padding-left: 1rem;
}

/* 
===== 4.1  NavBars =====
*/

/*
==  4.11 Top NavBar ==
*/
.navBar {
    position: fixed;
    height: 50px;
    width: 100%;
    border-bottom: solid 1px var(--color400);
    background-color: var(--color100);
    z-index: 10;
}

/*
==  4.12 SideDrawers ==
*/

/*
==  4.12a SocialDrawer ==
*/

.fa-book-open::after {
    font-weight: 400;
}

/*
==  4.12b ShortcutDrawer ==
*/

/* 
======================================
    5. State Classes 
======================================
*/
.modal-open {
    overflow: hidden;
}

/* 
======================================
   6. Media Queries
====================================== 
*/

/* 
===== 6.1 Tablet/Desktop ===== 
*/
/* @media (min-width: 1000px) {
    @media (min-height: 700px) {
        /* #socialDrawer {
            border: none;
        }

        #socialDrawer button,
        #socialDrawer h3 {
            display: none;
        } */

/* .active a {
            background-color: var(--buttonColor);
        } */
