.section {
    padding: 1rem;
    min-height: 60px;
}

.section:not(:first-of-type) {
    border-top: solid 2px var(--color-primary);
}

.header {
    text-align: center;
    font-weight: 700;
    // text-decoration: underline;
}
