.hero {
    height: 100vh;

    text-align: center;

    background-size: cover;
    background-position: center;

    border-top: none;
}

.logo-container {
    position: absolute;
    top: 0;
    left: 50%;
    margin-top: var(--navHeight);
    height: calc(100vh - var(--navHeight, 0));
    width: auto;

    transform: translate(-50%, 0%);

    padding: 1rem;

    img {
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: auto;

        width: min(90vw, 770px);
    }
}

.heroLinks {
    display: flex;
    position: absolute;
    width: 200px;
    left: 50%;
    bottom: 0%;

    display: flex;
    align-items: center;

    font-size: clamp(1.3rem, 3vw, 3.5rem);

    z-index: calc(var(--maxZ) - 3);

    flex-direction: column;

    transform: translate(-50%, -15vh);

    a {
        margin: 0.3rem;
        flex: 1;
        width: 200px;
        text-transform: uppercase;
    }
}

@media all and (min-width: 600px) {
    .heroLinks {
        flex-direction: row;
    }
}

@media screen and (min-width: 100vh) {
    /* The width is greater than the height */
    .logo-container {
        img {
            position: relative;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            height: min(60vh, 450px);

            width: auto;
        }
    }

    .heroLinks {
        // transform: translate(-50%, -50vh);
    }
}
